/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mai 2018, 19:39:57
    Author     : keyme
*/

header.masthead .masthead-content .masthead-heading{

    font-size: 3rem;

}

header.masthead .masthead-content .masthead-subheading{

    font-size: 1.5rem;

}

.navbar-custom .navbar-brand{

    font-size: 0.8rem;
    letter-spacing: 0.5rem;

}

.chapeau{

    font-size: 1rem;

}

.post{

    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.blogcontent{

    padding-top: 110px;
}

header.masthead{
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    
}

header.masthead .bg-circle{
    opacity: 0.5;
}

img.logo{
    width: 50px;
}

img.footerlogo{
    width: 30px;
   
}

footer{
    color : #6c757d;
}



