{% extends "frontend/homePageTemplate.twig" %} 

{% block title %}Mon Blog - Accueil{% endblock %}
{% block home %}
    <u>{{ parent() }}</u>
    {% endblock %}
    {% block content %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h2 class="masthead-heading mb-0">Développeur PHP</h2>
                <img class="img-fluid rounded-circle" src="/frontend/img/01.jpg" alt="Ma tête">
                <h3 class="masthead-subheading mb-0">Keigo Matsunaga</h3>

                <a href="/frontend/pdf/cv_dev.pdf" class="btn btn-primary btn-xl rounded-pill mt-5">Voir mon CV</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>

    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/frontend/img/bureau.jpg" alt="code">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h1>Le code, ma nouvelle passion!</h1>

                        <p>Je suis Keigo et je suis un tout nouveau développeur PHP.
                            <br />Mon objectif est de devenir un bon developpeur et proposer mes services pour creer des outils qui vous faciliteront votre tâches au quotidien. </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>


        <section style="background-color: #fee6f2; ">
            <div class="container ">
                <div class="row align-items-center text-center">
                    <div class="col">
                        <h1>Mes outils</h1>
                    </div>
                </div>
                <div class="row align-items-center text-center my-3">
                    <div class='col'>
                        <div  style="font-size:7em; color:#ee0979">
                            <i class="fab fa-html5"></i>

                        </div>
                        <h5>HTML</h5>
                    </div>
                    <div class='col'>
                        <div  style="font-size:7em; color:#ee0979">
                            <i class="fab fa-css3-alt"></i>
                        </div>
                        <h5>CSS, Boostrap</h5>
                    </div>
                    <div class='col'>
                        <div  style="font-size:7em; color:#ee0979">
                            <i class="fab fa-php"></i>
                        </div>
                        <h5>PHP</h5>
                    </div>
                    <div class='col'>
                        <div  style="font-size:7em; color:#ee0979">
                            <i class="fas fa-database"></i><br />
                        </div>
                        <h5>Bases de données Mysql, Oracle</h5>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center my-3">
                    <div class='col-md-3'>
                    </div>
                    <div class="my-3 col-md-6 text-center">
                        {% if message == 'mailOk' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                Message envoyé.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elseif message == 'mailNok' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                Problème lors de l'envoi du message, veuillez essayer ulterieurment.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <h1>Pour me contacter</h1>
                        <form action="/blog/sendmail" method="post">
                            <div class="form-group">  
                                <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Votre nom et prénom" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="userEmail" class="form-control" id="exampleFormControlInput1" placeholder="Votre adresse mail" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary rounded-pill">Envoyer</button>
                        </form>
                    </div>
                    <div class='col-md-3'>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
