{% extends "/backend/homePageTemplate.twig" %} 


{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/back">Accueil </a>
                </li>
                <li class="breadcrumb-item active">
                    Gestion des commentaires
                </li>
            </ol>
            {% if message == 'validate' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Commentaire validé !
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-table"></i> Liste des articles</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#Id</th>
                                            <th>Titre</th>
                                            <th>Commentaires en attente</th>
                                            <th>Vérifier</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#Id</th>
                                            <th>Titre</th>
                                            <th>Commentaires en attente</th>
                                            <th>Vérifier</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                <td>{{ post.title }}</td>
                                                <td>{{ post.com }}</td>

                                                <td>
                                                    <a href="/comment/validate/{{ post.id }}"><button type="button" class="btn btn-warning btn-sm">Vérifier</button></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}