<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS-->
        <link href="/public/backend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Custom styles for this template-->
        <link href="/public/backend/css/sb-admin.css" rel="stylesheet">
    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        {% block navigation %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <a class="navbar-brand" href="/back/home">Page d'administration</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <a class="nav-link" href="/post/home">
                                <i class="fas fa-edit"></i>
                                <span class="nav-link-text">Articles</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                            <a class="nav-link" href="/comment/home">
                                <i class="fas fa-comments"></i>
                                <span class="nav-link-text">Commentaires</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                            <a class="nav-link" href="/user/home">
                                <i class="fas fa-users"></i>
                                <span class="nav-link-text">Utilisateurs</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="navbar-nav sidenav-toggler">
                        <li class="nav-item">
                            <a class="nav-link text-center" id="sidenavToggler">
                                <i class="fa fa-fw fa-angle-left"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
 
                    
                        <li class="nav-item">

                        </li>
                        <li class="nav-item">
                            <a href="/back/logout">
                                <i class="fas fa-sign-out-alt"></i>Deconnexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    {% block content %}{% endblock %}
    <script src="/public/backend/vendor/jquery/jquery.min.js"></script>
    <script src="/public/backend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/public/backend/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/public/backend/vendor/chart.js/Chart.min.js"></script>
{#    <script src="/public/backend/vendor/datatables/jquery.dataTables.js"></script>#}
    <script src="/public/backend/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/public/backend/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/public/backend/js/sb-admin-datatables.min.js"></script>
    <script src="/public/backend/js/sb-admin-charts.min.js"></script>
</body>

</html>
