{% extends "frontend/homePageTemplate.twig" %}


{% block content %}
<div class="container" >
	<div class="d-flex flex-column justify-content-center align-items-center " style="min-height: 100vh;">
		<h1>Erreur {{ code }}</h1> 
		<p>{{ description }}</p>
		<p>{{ message }}</p>
		<a href="/blog/home">retour à l'accueuil</a>
	</div>
</div>
{% endblock %}
